/* select{
    display: inline-block;
} */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
@media (min-width: 768px) {
    .navbar-brand.abs{
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        }
    }
.navbar .navbar-brand{
    font-size: 21px;
    font-weight: bold;
}
.navbar #collapsingNavbar3 ul li a{
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
}
.navbar #collapsingNavbar3 ul li a:hover{
    color: #aca4a4;
}
.navbar .logs a i{
    color: #ffffff;
    font-size: 22px;
}
.navbar .logs a i:hover{
    color: #000;
}
.navbar .logs:hover span{
    opacity:1;
}
.navbar .logs span{
    position: absolute;
    opacity: 0;
    margin-left: -20px;
    width: 70px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 1px 1px 12px 1px #05133b;
    transition: opacity .40s ease-in-out .0s;
}
.rack-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
}
.rack-title h1{
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 1.9px;
    margin-bottom: 25px;
}
.rack-title .desc{
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.rack-title h3{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1.7px;
    line-height: 20px;
}
.rack-page{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    place-items: center center;
    margin-bottom: 20px;
}
.rack-page img{
    width: 200px;
    height: 200px;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0,0,0,0.4);
}
.login-container{
    margin-top: -80px;
    width: 30vw;
    height: 20vh;
    box-shadow: 0 15px 35px #000;
    padding: 2em;
    background-color: #000;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 40px;
    transition: all 0.3s;
}
.form-label{
    font-size: 1.5em;
    color: #fff;
    display: block;
    opacity: 1;
    transform: translateY(-1.25em);
    transform-origin: 0 0;
    transition: all 0.3s;
    margin-left: -9px;
}
.form-control{
    box-shadow: none;
    background-color: rgba(0,0,0,0.02);
    border-radius: 0;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    transition: all 0.5s;
    padding: 10px;
    margin: 10px 0 0 -10px;
    cursor: pointer;
}
.form-control::placeholder{
    color: transparent;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: orange;
    color: #fff;
}
.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) +
.form-label{
    transform: translateY(-2.5em) scale(0.8);
}
.form-group:focus-within{
    transform: scale(1.05, 1.05);
}
.subBtn{
    text-align: center;
    margin-top: -8%;
}
.subBtn .submitBtn{
    font-size: 20px;
    padding: 4px 12px;
    border: none;
    border-radius: 5px;
    color: #000;
    background: #fff;
    cursor: pointer;
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
}
.submitBtn:hover{
    color: #000;
    background: orange;
}
.animate {
    -webkit-animation: animatezoom 0.7s;
    animation: animatezoom 0.7s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Dropdown Button */
.dropbtn {
    background-color: #1434A4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #4169E1;
}
.selection-desc{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 65px;
}
.other{
    margin-top: 70px;
}
.select-btn label{
    cursor: pointer;
    transform: translate(50px, 10px);
    text-align: center;
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #000;
}
.select-btn input:checked ~ label {
    color: #ffffff;
    background: #000;
  }
.gen-body{
    width: 300px;
    height: auto;
    background: #fff;
    position: relative;
    margin: 2% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.5);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
}
.gen-body .clothes-body{
    text-align: center;
}
.gen-body .clothes-body table.gen-header{
    margin-left: auto;
    margin-right: auto;
}
.gen-body .clothes-body .gen-header tbody img{
    width: 170px;
}
.gen-body .comp-name{
    margin-bottom: 20px;
}
.gen-body .comp-name h1{
    font-size: 20px;
    font-weight: 800;
}
.clothes-body h2{
    margin: 10px;
    text-align: center;
    font-weight: 400;
}
.clothes-body .bottom-space{
    padding: 20px;
}
.save-btn{
    font-size: 16px;
    /* text-align: center; */
    font-weight: 600;
    padding: 2px 12px;
    cursor: pointer;
    border: 1px solid rgb(197, 188, 188);
    border-radius: 5px;
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
}
.save-btn:hover{
    color: #fff;
    background: #000;
}
.generate-btn{
    margin:-40px 0 40px 0;
    font-size: 18px;
    text-align: center;
}
.log-body{
    margin: 20% 0 0 30%;
    width: 40%;
    text-align: center;
}
.log-body h2{
    color: #ffffff;
    padding: 20px;
    background: #000;
    border-radius: 5px;
}
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("clothing-images/closet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .page-section {
    padding: 8rem 0;
  }

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
  }
  
  hr.divider-light {
    background-color: #fff;
  }

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.save-page{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;
    place-items: center center;
    margin-bottom: 20px;
}
.save-page img{
    width: 200px;
    height: 200px;
}