{% extends 'base.html' %}
{% block title %} Clothes combinations {% endblock %}

{% block content %}
    <div class="rack-title">
        <h1>Clothes combinations</h1>
        <div class="desc">
            <h3>Make your selection of our available clothes and 
                footwear to suit the weather and your taste.</h3>
            <a href="{{ url_for('generate') }}" target="_blank">
                <button class="save-btn" type="submit" id="gen-btn">Generate</button>
            </a>
        </div>
    </div>
    
    <div class="selection-desc">
        <h3>Select your top</h3>
    </div>
    <div class="rack-page">
        {% for top in tops %}
            <div class="item-selec">
                <img src="../{{ top.image }}" alt="{{ top.item_type }}">
                <button type="submit" class="select-btn">Select</button>
            </div>
        {% endfor %}
    </div>

    <div class="selection-desc other">
        <h3>Select your bottom</h3>
    </div>
    <div class="rack-page">
        {% for bottom in bottoms %}
            <div class="item-selec">
                <img src="../{{ bottom.image }}" alt="{{ bottom.item_type }}">
                <button type="submit" class="select-btn">Select</button>
            </div>
        {% endfor %}
    </div>

    <div class="selection-desc other">
        <h3>Select your shoes</h3>
    </div>
    <div class="rack-page">
        {% for shoe in shoes %}
            <div class="item-selec">
                <img src="../{{ shoe.image }}" alt="{{ shoe.item_type }}">
                <button type="submit" class="select-btn">Select</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}