<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style.css">
    <title>Final combination</title>
</head>
<body>
    <div class="gen-body animate">
        <div class="comp-name">
            <h1>weatheRfitS</h1>
        </div>
        <div class="clothes-body">
            <h2>View your combination below</h2>
            <table class="gen-header">
                <tbody>
                    <tr>
                        <td>
                            <img src="../static/clothing-images/tops/coat.jpeg" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../static/clothing-images/bottoms/denim.jpg" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../static/clothing-images/shoes/boots.jpg" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td class="bottom-space"></td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td>
                                <button type="submit" class="save-btn">Save</button>
                            </td>
                        </tr>
                    </tfoot>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>