<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style.css">
    <title>Final combination</title>
</head>
<body>
    <div class="gen-body animate">
        <div class="comp-name">
            <h1>weatheRfitS</h1>
        </div>
        <div class="clothes-body">
            <h2>View your combination below</h2>
            <table class="gen-header">
                <tbody>
                    {% for item in clothings %}
                        <tr>
                            <td>
                                <img src="../{{ item }}" alt="">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>