{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}

{% block content %}

    <!-- Masthead -->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">Welcome To The weatheR fitS App</h1>
            <hr class="divider my-4">
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white font-weight-light mb-5">A brand new personal weather-styling app created by Brian Paul, Yoofi Williams, and Ryan Jingwi.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/rack">View The Clothing Rack!</a>
          </div>
        </div>
      </div>
    </header>

    <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">What Our App Does</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white mb-4">Input YOUR fashion style (casual, classic, streetwear) and different clothing combinations are 
                            displayed. A weather API is also included to show the user the weather and also 
                            automatically filter out the clothes suitable for the weather!</p>
                        <a class="btn btn-light btn-xl" href="/combos">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>

    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">How Our App Works</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Daily Weather Report</h3>
                        <p class="text-muted mb-0">Our Weather API gives you accurate weather data that automatically 
                            filters your selection based upon the forecast.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Visit The Rack</h3>
                        <p class="text-muted mb-0">View the Rack page to discover your new look as well as all the items we have to offer.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Choose Your Style</h3>
                        <p class="text-muted mb-0">Choose your style for the day: classic, streetwear, or casual.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Pick Your Fit</h3>
                        <p class="text-muted mb-0">After viewing the weather, and choosing your style, pick a top, 
                            bottom and pair of shoes to complete your fit!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- the DIV that will contain the widget -->
<div class="weatherWidget" ></div>

<script>
   window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
   window.weatherWidgetConfig.push({
       selector:".weatherWidget",
       apiKey:"K3WUKAZ4638HASZFK2UBXBU3X", //Sign up for your personal key
       location:"Washington,DC", //Enter an address
       unitGroup:"us", //"us" or "metric"
       forecastDays:5, //how many days forecast to show
       title:"Today's Weather Report", //optional title to show in the 
       showTitle:true, 
       showConditions:true
   });
  
   (function() {
   var d = document, s = d.createElement('script');
   s.src = 'https://www.visualcrossing.com/widgets/forecast-simple/weather-forecast-widget-simple.js';
   s.setAttribute('data-timestamp', +new Date());
   (d.head || d.body).appendChild(s);
   })();


</script>

    <div class="dropdown">

        <button class="dropbtn">What is your choice of style today?</button>
        <div class="dropdown-content">
          <a href="index">Formal</a>
          <a href="combos">Informal</a>
          <a href="rack">Casual</a>
        </div>
    </div>

{% endblock %}
