<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="outer">
        <div class="login-container animate">
            <form action="" class="form" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name"
                    id="name" name="name" tabindex="1" required>
                    <label for="name" class="form-label">Name</label>
                </div>
                <div class="subBtn">
                    <button type="submit" class="submitBtn">Enter</button>
                </div>
            </form>
        </div>
    </div> 
</body>
</html>
    

