{% extends 'base.html' %}
{% block title %} Clothes Rack {% endblock %}

{% block content %}
    <div class="rack-title">
        <h1>Clothes Rack</h1>
        <div class="desc">
            <h3>Check out our available clothing for your weekly combinations.
                Browse what's trending on WEATHER FITS' range of jumpers, pants,
                sneakers, and more...</h3>
            <p>{{ items|length }} items found</p>
        </div>
    </div>
   
    <div class="rack-page">
        {% for item in items %}
            <img src="../{{ item.image }}" alt="{{ item.item_type }}">
        {% endfor %}
    </div>
{% endblock %}